.card {
  display: grid;
  width: 168px;
  grid-template: repeat(5, 31.3px) / repeat(5, 1fr);
  margin-bottom: 20px;
}

.thumbnail {
  grid-area: 1 / 1 / span 3 / span 5;
  z-index: 0;
}

.duration {
  grid-area: 3 / 5 / 4 / 6;
  background-color: black;
  color: white;
  z-index: 1;
  align-self: end;
  height: 20px;
  text-align: center;
}

.durationText {
  font-size: 12px;
}

.title {
  grid-area: 4 / 1 / 5 / span 5;
  font-size: 13px;
  align-self: start;
  margin-bottom: 10px;
}

.author {
  grid-area: 5 / 1 / 6 / span 5;
  font-size: 11px;
  color: gray;
  align-self: end;
}