.modalOpen {
  height: 100vh;
  overflow: hidden;
}

.carousel {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: 80vw;
  margin-left: 10vw;
  scroll-behavior: smooth;
  padding: 0;
}